.portfolio-item__title {
	font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
	font-weight: normal;
	margin-top: 44.88px;
	margin-bottom: 99.09px;
}